@page
@using Microsoft.AspNetCore.Identity
@using Pred.Models
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    Layout = "/Areas/Admin/Views/Manage/_Layout.cshtml";
}


<button type="button" class="btn btn-danger float-lg-right m-2" data-toggle="modal" data-target="#modal">
    Thêm bác sĩ
</button>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Thêm bác sĩ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="overflow-auto">
                        <ul>
                            @foreach (var user in userManager.Users)
                            {
                                if (!userManager.IsInRoleAsync(user, "Doctor").Result && !userManager.IsInRoleAsync(user, "Admin").Result)
                                {
                                    <li class="m-1 d-flex justify-content-around align-items-center">
                                        @user.Email
                                        <a asp-action="AddDoctor"
                                           asp-route-userId="@user.Id.ToString()">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>     
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<h5>Quản lý bác sĩ</h5>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>SĐT</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var user in userManager.GetUsersInRoleAsync("Doctor").Result)
    {
        <tr id="@user.Id">
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <a 
                    asp-action="RemoveDoctor"
                    asp-route-userId="@user.Id.ToString()"
                    class="btn border-dark">
                    Xóa 
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }
</table>



<script>


</script>